<!DOCTYPE html>
<html>
    <head>
        <%- include("shared/global")%>
    </head>
    <body>
        <%- include("shared/nav-bar")%>
        <h1>Thank you for your message!</h1>
    </body>
</html>