<section id="projects">
  <div>
    <h1>Projects</h1>
    <section class="project">
      <div>
        <h2>
          AI Resume JSON Parser
          <br>
          (<a href="https://github.com/JustinZYen/GeminiTestProject">https://github.com/JustinZYen/GeminiTestProject</a>)
        </h2>
        <ul>
          <li>Streamlit-powered application to parse a resume into JSON format, utilizing Google's Gemini API</li>
        </ul>
      </div>
      <div>
        <img src="images/ai_resume_parser.png" alt="Screenshot of AI resume parser" width="50%">
      </div>
    </section>
    <section class="project">
      <div>
        <h2>
          <a href="https://notskriblio.onrender.com/">NotSkribbl.io</a>
          <br>
          (<a href="https://github.com/JustinZYen/NotSkriblio">https://github.com/JustinZYen/NotSkriblio</a>)
        </h2>
        <ul>
          <li>Developed a Render-hosted website inspired by Skribbl.io using React as a collaborative project, using agile methodologies to efficiently deliver features.</li>
          <li>Integrated Socket.IO and Express.js for a responsive, real-time user experience.</li>
        </ul>
      </div>
      <div class="iframe-wrapper">
        <!-- Wrapper div needed so that the scaled iframe does not take up its original size in space -->
        <button type="button" name="https://notskriblio.onrender.com/">Click to Load Webpage</button>
        <!-- name attribute of button is the intended link of the page -->
        <iframe src="about:blank" title="iframe to NotSkribbl.io" class="hidden"></iframe>
      </div>

    </section>
    <section class="project">
      <div>
        <h2>
          <a href="https://albioncraftingcalculator.azurewebsites.net/">Video Game Crafting Calculator</a>
          <br>
          (<a href="https://github.com/JustinZYen/AlbionCraftingCalculator">https://github.com/JustinZYen/AlbionCraftingCalculator</a>)
        </h2>
        <ul>
          <li>Azure hosted website that pulls real-time price data from an external API to obtain price data, displaying ways to craft items alongside their prices</li>
          <li>Utilizes D3.js visualization library to display item relationships effectively</li>
        </ul>
      </div>
      <div class="iframe-wrapper">
        <button type="button" name="https://albioncraftingcalculator.azurewebsites.net/">Click to Load Webpage</button>
        <iframe src="about:blank" title="iframe to crafting calculator" class="hidden"></iframe>
      </div>
    </section>
    <section class="project">
      <div>
        <h2>
          <a href="https://justinyen.azurewebsites.net/">Portfolio
            Website</a>
          <br>
          (<a href="https://github.com/JustinZYen/Portfolio">https://github.com/JustinZYen/Portfolio</a>)
        </h2>
        <ul>
          <li>Azure hosted portfolio website, with a Node.js backend </li>
        </ul>
      </div>
      <div class="iframe-wrapper">
        <button type="button" name="https://justinyen.azurewebsites.net/">Click to Load Webpage</button>
        <iframe src="about:blank" title="iframe to portfolio website" class="hidden"></iframe>
      </div>
    </section>
  </div>
</section>