{% extends "shared.html.jinja" %}
{% block main_body %}
{% include "main-page/title-page.html" %}
{% include "main-page/skills.html" %}
{% include "main-page/work-experience.html" %}
{% include "main-page/projects.html" %}
{% endblock %}