<section id="title-page">
    <div>
      <h1>Justin Yen</h1>
      <h2>Computer Science Student at ASU's Barrett, the Honors College</h2>
      <section class="school">
        <p>Arizona State University</p>
        <p>Computer Science major at Arizona State University (junior standing) at Barrett, the Honors College (4.00 GPA)</p>
        <p>Anticipate to graduate in May 2026</p>
      </section>
    </div>
    <img src="images/me_at_ASU.jpg" alt="Picture of myself">
  </section>